<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h3><%= @list.title %></h3>

      <hr>
      <p class = "text-justify"><%= @list.body %></p>
      <br>
      <p>
      <div class="pull-left">
        <h6> Created on <%= DateTime.parse(@list.created_at).strftime("%A, %B %d, %Y at %I:%M%p") %></h6>
      </div>
      <div class="pull-right">
      <a href="/lists" class="btn btn-primary btn-sm">Back</a>
      </div>
      <br>
    </p>
  </div>

</div>
