<h1 style="color: #555">
  My Todolist
</h1>
<p>
  <a href="/lists/new" style="background-color: #12a4e9; color: #fff; text-decoration: none; border: 0; padding: 7px 12px;">
    Create a new Todolist
  </a>
</p>
